html, body {
    min-width: 480px;
}

.knockout-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.match {
    margin: 10px 0;
}

.stage-header {
    text-align: center;
    margin-bottom: 10px;
}

.bracket {
    max-width: 100%;
    overflow-x: auto;
}

.group-paper {
    justify-content: center; /* Centrează conținutul */
    margin-left: 20%; /* Spațiu liber de 20% pe partea stângă */
    margin-right: 20%; /* Spațiu liber de 20% pe partea dreaptă */
    margin-bottom: 40px; /* Spațiu între grupe */
}
.table-container {
    overflow-x: auto; /* Permit scroll orizontal dacă conținutul este prea larg */
}

.table-container table {
    width: 100%; /* Tabelul ocupă 100% din lățimea containerului său */
    max-width: 100%; /* Lățimea maximă a tabelului să fie 100% din container */
}


.seed-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aliniați conținutul spre stânga */
}

.seed-item2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aliniați conținutul spre stânga */
    background-color: white; /* Fundal alb */
    border: 3px solid black; /* Border negru */
    color: black; /* Text negru */
    border-radius: 8px; /* Colțuri rotunjite (opțional) */
}
.seed-item .MuiAvatar-root {
    width: 20px; /* Dimensiune mai mică pentru avataruri */
    height: 20px; /* Dimensiune mai mică pentru avataruri */
    margin-right: 8px; /* Spațiu între avatar și text */
}

.seed-item .winner {
    font-weight: bold; /* Evidențierea echipei câștigătoare */
}

.seed-item span {
    display: flex;
    align-items: center; /* Aliniați textul și avatarul pe orizontală */
}

.SeedTeam {
    display: flex;
    align-items: center;
    padding: 5px 0; /* Spațiu între echipe */
    width: 100%; /* Asigură-te că echipele ocupă toată lățimea */
}
